<!DOCTYPE HTML>
<html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 400px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>아이디 찾기</h2>
    </div>
    <div >
        아이디 : user1***
    </div>

    <hr class="my-1">
    <div style="float:right">
        <a class="w-100 text-center p-0 btn btn-default px-0" href="loginForm.html">로그인 하러가기</a>
    </div>
</div> <!-- /container -->
</body>
</html>